@mixin dots{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

@mixin center{
    display: flex;
    justify-content: center;
}

@mixin center-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
}