@charset "UTF-8";
.logo img {
  width: 150px;
  padding-top: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.back {
  padding-left: 10rem;
}

/*hr{
    color: #c2c8c9 ;
    border: 1px solid;
}*/
/*.circles{
    display: flex;
    flex-direction: row;
}


.circle-1{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
}
.circle-2{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
}
.circle-3{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
}
.circle-4{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
}

.line-1{
    width: 50px;
    background-color: red;
    height: 5px;
}*/
.stage {
  position: relative;
}

.stage ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stage ul li span {
  font-size: 15px;
  position: absolute;
  bottom: -30px;
}

.line {
  color: white;
  background-color: #abaaaa;
  height: 5px;
  width: 7rem;
  display: flex;
  align-items: center;
}

.dot-1 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: #51b549;
}

.dot-2 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #e2e7e9;
}

.dot-3 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #e2e7e9;
}

.dot-4 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #e2e7e9;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.home-form {
  border: 2px solid rgb(233, 232, 232);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.sipariş-card {
  border: 1px solid #d2d2d2;
  padding: 20px;
  border-radius: 5px;
}

.total {
  background-color: #e7e9ea;
  padding: 13px;
  border-radius: 5px;
}

.kod-kupon {
  display: flex;
  align-items: center;
  width: 100%;
}

.kod-kupon input {
  border-radius: 5px 0 0 5px;
  width: 100%;
  padding: 15px;
}

.kod-kupon button {
  padding: 16px 12px;
  border-radius: 0 5px 5px 0;
  background-color: rgb(232, 127, 41);
  color: white;
  border: none;
  width: 50%;
  display: flex;
  justify-content: center;
}

.forward-button {
  display: flex;
  justify-content: center;
}

.forward {
  background-color: #51b549;
  border: 0;
  width: 18rem;
  color: white;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.right-icon {
  float: right;
  color: white;
}

.form-group a {
  color: black;
}

.price-box {
  background-color: #edf1f2;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 25px 10px;
}

#nav-home-tab {
  color: #51b549;
}

#nav-profile-tab {
  color: #51b549;
}

.stage li {
  display: flex;
  align-items: end;
}

#payment-method-information table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

#payment-method-information > div {
  display: none;
}

#payment-method-information.garanti > div#garanti,
#payment-method-information.yapi-kredi > div#yapi-kredi,
#payment-method-information.akbank > div#akbank {
  display: block;
}

.total-pay {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total-pay button {
  color: white;
  background-color: #51b549;
  border: 0;
  border-radius: 5px;
  padding: 10px 80px;
  font-size: 20px;
}
.total-pay p {
  font-size: 20px;
}
.total-pay span {
  color: #51b549;
  font-size: 25px;
}

.warning-text {
  color: red;
  margin-top: 20px;
}

table {
  font-size: 15px;
  transform: translateX(40px);
}
table tr {
  display: flex;
}/*# sourceMappingURL=style.css.map */