@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;



.logo img {
  width: 150px;
  padding-top: 20px;
}

.logo {
  @include m.center;
}



.stage {
  position: relative;
  padding-bottom: 20px;

  ul{
    @include m.center;
    list-style: none;
    flex-direction: row;

    li span {
      font-size: 15px;
      position: relative;
      bottom: -50px;
      right: 32px;
      text-align: center;
    }
  }


  .line {
    border: 0;
    background-color: v.$color-secondary;
    height: 5px;
    width: 7rem;
    display: flex;
    align-items: center;
  }
}

.dot-1 {
  @include m.dots;
  text-align: center;
  background-color: v.$color-primary;
}



.dot-2 {
  @include m.dots;
  background-color: v.$color-secondary;
}


.dot-3 {
  @include m.dots;
  background-color: v.$color-secondary;
  span{
    top: 30px
  }

}

.stage ul li i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 11px;
  bottom: 11px;
}

.dot-4 {
  @include m.dots;
  background-color: v.$color-secondary;
}


input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: v.$border;
  border-radius: v.$bor-radius;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: v.$color-primary;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: v.$bor-radius;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: v.$color-primary;
}

.home-form {
  border: v.$border;
  border-radius: v.$bor-radius;
  padding: 20px;
  margin-bottom: 50px;
}

form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: v.$border;
  border-radius: v.$bor-radius;
  font-size: 16px;
  resize: none;
}


.sipariş-card {
  border: v.$border;
  padding: 20px;
  border-radius: v.$bor-radius;

  .total {
    background-color: #e7e9ea;
    padding: 13px;
    border-radius: v.$bor-radius;
    display: flex;
    justify-content: space-between;
  }
}



.kod-kupon {
  display: flex;
  align-items: center;
  width: 100%;

  input {
    border-radius: 5px 0 0 5px;
    width: 100%;
    padding: 15px;
  }
  
  button {
    padding: 16px 12px;
    border-radius: 0 5px 5px 0;
    background-color: v.$color-third;
    color: white;
    border: none;
    width: 50%;
    @include m.center;
  }
}


.forward-button {
  @include m.center;

  .forward {
    background-color: v.$color-primary;
    border: 0;
    width: 18rem;
    color: white;
    height: 45px;
    border-radius: v.$bor-radius;
    margin-bottom: 20px;
  }
}

.right-icon {
  float: right;
  color: white;
}