@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;



.message{
    @include m.center-vertical;
    flex-direction: column;
    width: 30rem;

    textarea{
        width: 100%;
        border: v.$border;
        border-radius: v.$bor-radius;
        padding: 10px;
    }
}

.message-buttons{
    button{
        border: 0;
        background-color: v.$color-third ;
        color: white;
        border-radius: v.$bor-radius;
        padding: 14px 20px;
        font-size: 18px;

    }
}

 a{
    color: black;
}