@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;


.price-box {
    background-color: v.$color-secondary;
    border: v.$border;
    border-radius: v.$bor-radius;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 10px;
}

#nav-home-tab {
    color: v.$color-primary;
}

#nav-profile-tab {
    color: v.$color-primary;
}


.stage li {
    display: flex;
    align-items: end;
}

#payment-method-information table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#payment-method-information>div {
    display: none;
}

#payment-method-information.garanti>div#garanti,
#payment-method-information.yapi-kredi>div#yapi-kredi,
#payment-method-information.akbank>div#akbank {
    display: block;
}


.total-pay {
    @include m.center-vertical;
    margin-top: 25px;
    flex-direction: column;

    button {
        color: white;
        background-color: v.$color-primary;
        border: 0;
        border-radius: v.$bor-radius;
        padding: 10px 80px;
        font-size: 20px;
        a{
            text-decoration: none;
        }
    }

    p {
        font-size: 20px;
    }

    span {
        color: v.$color-primary;
        font-size: 25px;
    }
}

.warning-text {
    color: red;
    margin-top: 20px;
}

table {
    font-size: 15px;
    transform: translateX(40px);

    tr {
        display: flex;
    }
}

.part-3 {
    background-color: v.$color-primary;
}

.last-payment {
    @include m.center-vertical;
    margin-top: 25px;
    flex-direction: column;

    .test {
        color: white;
        background-color: v.$color-primary;
        border: 0;
        border-radius: v.$bor-radius;
        padding: 10px 80px;
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    span {
        color: v.$color-primary;
        font-size: 25px;
    }
}

.modal-footer {
    .later {
        color: v.$color-primary;
        font-size: 18px;
    }

    .allow {
        color: white;
        background-color: v.$color-primary;
        border: 0;
        border-radius: v.$bor-radius;
        padding: 10px 50px;
        font-size: 18px;
    }
}