

.price-box {
    background-color: #edf1f2;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 25px 10px;
}

#nav-home-tab{
    color: #51b549 ;
}

#nav-profile-tab{
    color: #51b549 ;
}


.stage li {
    display: flex;
    align-items: end;
}

#payment-method-information table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }

#payment-method-information>div {
    display: none;
}

#payment-method-information.garanti>div#garanti,
#payment-method-information.yapi-kredi>div#yapi-kredi,
#payment-method-information.akbank>div#akbank {
    display: block;
}


.total-pay{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button{
        color: white;
        background-color: #51b549;
        border: 0;
        border-radius: 5px;
        padding: 10px 80px;
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    span{
        color: #51b549;
        font-size: 25px;
    }
}

.warning-text{
    color: red;
    margin-top: 20px;
}

table{
    font-size: 15px;
   transform: translateX(40px);
   
   tr{
    display: flex;
   }
}

.part-3{
    background-color: #51b549;
}

.last-payment{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .test{
        color: white;
        background-color: #51b549;
        border: 0;
        border-radius: 5px;
        padding: 10px 80px;
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    span{
        color: #51b549;
        font-size: 25px;
    }
}

.modal-footer{
    .later{
        color: #51b549;
        font-size: 18px;
    }
    .allow{
        color: white;
        background-color: #51b549;
        border: 0;
        border-radius: 5px;
        padding: 10px 50px;
        font-size: 18px;
    }
}